input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }


body{
    text-align: center;
    position: relative;
    background: linear-gradient(150deg,red,orange,yellow) ;
    height: 860px;
}

h1{
    position: relative;
    color:white;
    font-size: 5rem;
    background: black;
    width: 750px ;
    left:500px;
    top: 60px;
}

form{
    position: relative;
    left: 500px;
    width: 750px;
    height: 450px;
    line-height: 70px;
    top: 65px;
}


.form-element{
    position: relative;
    top: 30px;
    color:white;
    font-size: 3rem;
    padding: 10px 15px;
}
.lab{
    position: relative;
    padding: 15px;
    background: rgba(0, 0, 0, 0.466);
}

.inp{
    padding: 10px 90px;
}

input{
    border-radius: 25px;
}

:hover.input{
    color: aqua;
    background: gray;
}

:hover.boton{
    color: red;
    background: black;
}

.boton{
    padding: 15px 30px;
    border-radius: 25px;
}

